---
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword: false
SpacesInAngles: true
SpacesInParentheses: true
SpaceBeforeParens: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -2
NamespaceIndentation: None
