Source: ucc
Priority: optional
Maintainer: Erhan Bilgili <erhan.bilgili@gmail.com>
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.20),
               extra-cmake-modules,
               g++ (>= 9),
               nlohmann-json3-dev,
               qt6-base-dev (>= 6.0),
               qt6-declarative-dev,
               qt6-connectivity-dev,
               qt6-tools-dev,
               libsystemd-dev,
               libxrandr-dev,
               libudev-dev,
               pkg-config
Standards-Version: 4.6.1
Homepage: https://github.com/tuxedocomputers/uniwill-control-center
Vcs-Git: https://github.com/tuxedocomputers/uniwill-control-center.git

Package: ucc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         systemd,
         tuxedo-drivers,
         qt6-qpa-plugins
Description: Uniwill Control Center
 Uniwill Control Center (UCC) is a comprehensive system control application
 suite for Uniwill (Tuxedo, XMG etc.) computers. Includes the system daemon, graphical user
 interface and system tray applet.
 .
 Features:
  - Fan control management
  - Keyboard backlight control
  - Display settings
  - CPU power management
  - Water cooler monitoring and control
  - System monitoring
