[Unit]
Description=Uniwill Control Center Daemon Sleep Handler
Documentation=man:uccd(8)
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
Requires=uccd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart uccd.service

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
